<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPrueba</servlet-name>
        <servlet-class>controller.ServletPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuario</servlet-name>
        <servlet-class>controller.InsertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>controller.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarDisco</servlet-name>
        <servlet-class>controller.InsertarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>controller.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDisco</servlet-name>
        <servlet-class>controller.ModificarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDisco</servlet-name>
        <servlet-class>controller.EliminarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCliente</servlet-name>
        <servlet-class>controller.ModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarCliente</servlet-name>
        <servlet-class>controller.InsertarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>controller.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuario</servlet-name>
        <servlet-class>controller.BuscarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCliente</servlet-name>
        <servlet-class>controller.BuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarDisco</servlet-name>
        <servlet-class>controller.BuscarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarDiscoPrincipal</servlet-name>
        <servlet-class>controller.BuscarDiscoPrincipal</servlet-class>
    </servlet>
    <servlet> 
        <servlet-name>agregarAlCarrito</servlet-name>
        <servlet-class>controller.agregarAlCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrueba</servlet-name>
        <url-pattern>/ServletPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuario</servlet-name>
        <url-pattern>/InsertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarDisco</servlet-name>
        <url-pattern>/InsertarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDisco</servlet-name>
        <url-pattern>/ModificarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDisco</servlet-name>
        <url-pattern>/EliminarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCliente</servlet-name>
        <url-pattern>/ModificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarCliente</servlet-name>
        <url-pattern>/InsertarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuario</servlet-name>
        <url-pattern>/BuscarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCliente</servlet-name>
        <url-pattern>/BuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarDisco</servlet-name>
        <url-pattern>/BuscarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarDiscoPrincipal</servlet-name>
        <url-pattern>/BuscarDiscoPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>agregarAlCarrito</servlet-name>
        <url-pattern>/agregarAlCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
